
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
*.swp


**/target/
!.mvn/wrapper/maven-wrapper.jar
/build/


.docker/
docker-compose.override.yml

**/node_modules/
**/dist/
**/build/
.eslintcache
*.local

.env
.env.local
.env.*.local
application.properties.local
application-local.properties

**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*